.alert-fixed {
    position: fixed;
    bottom: 5px;
    right: 25px;
    z-index: 9999;
}

.page-header {
    margin-top: 0px !important;
}
#page-wrapper {
    margin-left: 0px !important;
    overflow-y: hidden !important;
}

.mt-label {
    margin-top: 10px !important;
}

.tab-content {
    padding-top: 15px;
}
#btn-save {
    margin-left: 10px;
}