#infobox.ui.segment
  h4.ui.header Sähkön hinnat (c/kWh)
  table.ui.very.basic.celled.table
    tbody
      tr
        td.eight.wide Korkein
        td.eight.wide#highest -
      tr
        td Alhaisin
        td#lowest -
      tr
        td Keskiarvo
        td#average -
      tr
        td Mediaani
        td#median -

  .ui.teal.mini.message
    | Sähkön hinnat tarjoaa Fortum.fi