#settings.ui.segment
  #save-relay-btn.ui.green.labeled.icon.disabled.button
    i.save.icon
    | Tallenna

  #test-relay-btn.ui.yellow.labeled.icon.disabled.button
    i.lightning.icon
    | Testaa
      
  span#relay-buttons
    each i in [1,2,3]
      .ui.basic.button(data-id=i)='Rele ' + i
  
  .ui.top.attached.tabular.menu
    a.item.active(data-tab=1) Hinnan mukaan
    a.item(data-tab=2) Vain halvimmat
    a.disabled.item(data-tab=3) Lämpötila
  
  .ui.bottom.attached.tab.segment.active(data-tab=1)
    include settings/byPrice.pug
  .ui.bottom.attached.tab.segment(data-tab=2)
    include settings/byCheapest.pug
  .ui.bottom.attached.tab.segment(data-tab=3)
    | WIP