#infobox.ui.segment
  h4.ui.header Sähkön hinnat (c/kWh)
  table.ui.very.basic.celled.table
    tbody
      tr
        td Korkein
        td#highest 5.48
      tr
        td Alhaisin
        td#lowest 5.48
      tr
        td Keskiarvo
        td#average 5.48
      tr
        td Mediaani
        td#median 5.48

  .ui.teal.mini.message
    | Sähkön hinnat tarjoaa Fortum.fi