#relayinfo.ui.segment
  #none Relettä ei ole valittu
  #selected.ui.middle.aligned.divided.list
    .item
      h4.ui.header#header Rele&nbsp;
        span#relayID
    .item
      p Aktiivinen ehto:&nbsp;
        i#condition
    .item
      p Aktiiviset tunnit
      #activehours.ui.circular.labels.tiny